.Persona {
  background: url('http://wallpaperset.com/w/full/c/1/4/427159.jpg') center center/cover no-repeat;
  color: #090909;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* make the form take up the full height of the viewport */
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .lable {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: black;
  }
  
  input,
  select {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  label span {
    color: red;
    margin-left: 5px;
  }
  
  